params {
  config_profile_description = 'YuLab cluster profile provided by nf-core/configs.'
  config_profile_contact = 'YuLab'
  max_memory = 64.GB
  max_cpus = 8
  max_time = 240.h
}

process {
  executor = 'slurm'
  queue = 'cn-long'
  maxRetries = 3
}

executor {
  queueSize = 8
  submitRateLimit = '10 sec'
}

docker {
  enabled = true
}
